.header {
    height: 40vw;
    margin: 30px auto;
    background: url('/image-1.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: white;
    /* text-align: center; */
}
.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 5vw;
    animation: fadeIn 3s;
}
.header-contents h2 {
    font-weight: 500;
    color:rgb(255, 255, 255);
    /* background-color: transparent; */
    /* border-radius: 20px; */
    font-size: max(4.5vw,20px);
}
/* .header-contents span {
    color: rgb(255, 145, 0)
} */
.header-contents p {
    color: white;
    font-size: 1vw;
}
.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius:50px ;

}
 
@media (max-width:1050px){

    .header-contents{
        max-width: 45%;
        
    }
}
@media (max-width:750px){
  
    .header-contents{
        max-width: 65%;

    }
    .header-contents p{
        display: none;
    }
    .header-contents button {
        padding: 2vw 4vw;
    }
}


